# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "Inverter output power"
      state_topic: "homeassistant/inverter/load_w"
      unique_id: "mp_omega_5600_v4_1"
      unit_of_measurement: "W"
      state_class: "measurement"
      device_class: "power"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter solar power"
      state_topic: "homeassistant/inverter/solar_power"
      unique_id: "mp_omega_5600_v4_2"
      unit_of_measurement: "W"
      state_class: "measurement"
      availability_topic: "homeassistant/inverter/availability"
      device_class: "power"

    - name: "Inverter battery state"
      state_topic: "homeassistant/inverter/battery_capacity"
      unique_id: "mp_omega_5600_v4_3"
      unit_of_measurement: "%"
      state_class: "measurement"
      device_class: "battery"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter battery current"
      state_topic: "homeassistant/inverter/battery_current"
      unique_id: "mp_omega_5600_v4_4"
      unit_of_measurement: "A"
      state_class: "measurement"
      device_class: "current"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter Battery Charge Current"
      state_topic: "homeassistant/inverter/battery_charge_current"
      unique_id: "mp_omega_5600_v4_charge_current"
      unit_of_measurement: "A"
      state_class: "measurement"
      device_class: "current"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter Battery Discharge Current"
      state_topic: "homeassistant/inverter/battery_discharge_current"
      unique_id: "mp_omega_5600_v4_discharge_current"
      unit_of_measurement: "A"
      state_class: "measurement"
      device_class: "current"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter battery voltage"
      state_topic: "homeassistant/inverter/battery_voltage"
      unique_id: "mp_omega_5600_v4_5"
      unit_of_measurement: "V"
      state_class: "measurement"
      device_class: "voltage"
      availability_topic: "homeassistant/inverter/availability"

    - name: "Inverter Desired Mode"
      state_topic: "homeassistant/inverter/desired_mode"
      unique_id: "mp_omega_5600_v4_desired_mode"
      availability_topic: "homeassistant/inverter/availability"
      value_template: >
        {% set modes = {'L': 'Line', 'B': 'Battery'} %}
        {{ modes.get(value, 'Unknown') }}

    - name: "Inverter Actual Mode"
      state_topic: "homeassistant/inverter/actual_mode"
      unique_id: "mp_omega_5600_v4_actual_mode"
      availability_topic: "homeassistant/inverter/availability"
      value_template: >
        {% set modes = {'L': 'Line', 'B': 'Battery', 'P': 'Power On', 'S': 'Standby', 'F': 'Fault', 'H': 'Hibernate'} %}
        {{ modes.get(value, 'Unknown') }}

  switch:
    - name: "Inverter Desired Mode"
      command_topic: "homeassistant/inverter/set_mode"
      state_topic: "homeassistant/inverter/desired_mode"
      availability_topic: "homeassistant/inverter/availability"
      value_template: "{{ value }}"
      payload_on: "B"
      payload_off: "L"
      state_on: "B"
      state_off: "L"

switch:
  - platform: template
    switches:
      inverter_mode_switch:
        friendly_name: "Inverter Mode Switch"
        value_template: "{{ is_state('switch.inverter_mode', 'on') }}"
        turn_on:
          service: mqtt.publish
          data:
            topic: "homeassistant/inverter/set_mode"
            payload: "B"
        turn_off:
          service: mqtt.publish
          data:
            topic: "homeassistant/inverter/set_mode"
            payload: "L"
        icon_template: >
          {% if is_state('switch.inverter_mode', 'on') %}
            mdi:battery
          {% else %}
            mdi:power-plug
          {% endif %}

sensor:
  - platform: mqtt
    name: "Inverter Last Update"
    state_topic: "homeassistant/inverter/load_w"
    value_template: "{{ now().timestamp() }}"

  - platform: template
    sensors:
      time_since_inverter_update:
        friendly_name: "Time Since Inverter Update"
        unit_of_measurement: "minutes"
        value_template: >
          {% if states('sensor.inverter_last_update') != 'unknown' and states('sensor.inverter_last_update') != 'unavailable' %}
            {{ ((as_timestamp(now()) - states('sensor.inverter_last_update') | float(0)) / 60) | round(0) }}
          {% else %}
            0
          {% endif %}
      
      inverter_mode_mismatch:
        friendly_name: "Inverter Mode Mismatch"
        value_template: >
          {% if is_state('sensor.inverter_desired_mode', 'Battery') and not is_state('sensor.inverter_actual_mode', 'Battery') %}
            true
          {% elif is_state('sensor.inverter_desired_mode', 'Line') and not is_state('sensor.inverter_actual_mode', 'Line') %}
            true
          {% else %}
            false
          {% endif %}
        icon_template: >
          {% if is_state('sensor.inverter_mode_mismatch', 'true') %}
            mdi:alert
          {% else %}
            mdi:check
          {% endif %}

  - platform: integration
    source: sensor.inverter_solar_power
    name: "Inverter Solar Energy"
    unit_prefix: k
    round: 2
    method: left

  - platform: integration
    source: sensor.inverter_output_power
    name: "Inverter Load Energy"
    unit_prefix: k
    round: 2
    method: left

  - platform: integration
    source: sensor.battery_charging_power
    name: "Battery Energy In"
    unit_prefix: k
    round: 2
    unit_time: h
    method: trapezoidal
    unique_id: "mp_omega_5600_v4_energy_in"

  - platform: integration
    source: sensor.battery_discharging_power
    name: "Battery Energy Out"
    unit_prefix: k
    round: 2
    unit_time: h
    method: trapezoidal
    unique_id: "mp_omega_5600_v4_energy_out"

  - platform: integration
    source: sensor.grid_consumption_power
    name: "Grid Consumption Energy"
    unit_prefix: k
    round: 2
    unit_time: h
    method: trapezoidal
    unique_id: "mp_omega_5600_v4_grid_energy"

template:
  - sensor:
      - name: "Battery Charging Power"
        unit_of_measurement: "W"
        state: >
          {% set voltage = states('sensor.inverter_battery_voltage') | float(0) %}
          {% set current = states('sensor.inverter_battery_charge_current') | float(0) %}
          {% set power = voltage * current %}
          {% if power > 7000 %}  # Adjust this threshold as needed. Set slightly over your max battery power.
            7000
          {% else %}
            {{ power | round(2) }}
          {% endif %}
        availability: >
          {{ states('sensor.inverter_battery_voltage') not in ['unknown', 'unavailable'] and states('sensor.inverter_battery_charge_current') not in ['unknown', 'unavailable'] }}
        device_class: power
        state_class: measurement

      - name: "Battery Discharging Power"
        unit_of_measurement: "W"
        state: >
          {% set voltage = states('sensor.inverter_battery_voltage') | float(0) %}
          {% set current = states('sensor.inverter_battery_discharge_current') | float(0) %}
          {% set power = voltage * current %}
          {% if power > 7000 %}  # Adjust this threshold as needed. Set slightly over your max battery power.
            7000
          {% else %}
            {{ power | round(2) }}
          {% endif %}
        availability: >
          {{ states('sensor.inverter_battery_voltage') not in ['unknown', 'unavailable'] and states('sensor.inverter_battery_discharge_current') not in ['unknown', 'unavailable'] }}
        device_class: power
        state_class: measurement

      - name: "Grid Consumption Power"
        unit_of_measurement: "W"
        state: >
          {% set total_consumption = states('sensor.inverter_output_power') | float(0) %}
          {% set battery_discharge_power = states('sensor.battery_discharging_power') | float(0) %}
          {% set solar_power = states('sensor.inverter_solar_power') | float(0) %}
          {% set grid_power = total_consumption - battery_discharge_power - solar_power %}
          {{ [grid_power, 0] | max | round(2) }}
        availability: >
          {{ states('sensor.inverter_output_power') not in ['unknown', 'unavailable'] and states('sensor.battery_discharging_power') not in ['unknown', 'unavailable'] and states('sensor.inverter_solar_power') not in ['unknown', 'unavailable'] }}
        device_class: power
        state_class: measurement