[Unit]
Description=Inverter HID Docker Container
After=docker.service network.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/docker run -d --name inverter --network=host --device=/dev/hidraw0 -v /var/log:/logs --restart unless-stopped serjtf/inverter:latest
ExecStop=/usr/bin/docker stop inverter
ExecStopPost=/usr/bin/docker rm inverter
TimeoutStopSec=20
User=serj

[Install]
WantedBy=multi-user.target