[Unit]
Description=Inverter HID Docker Container
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker run -d --rm --name inverter --network=host --device=/dev/hidraw0 -v /var/log:/logs serjtf/inverter:latest
ExecStop=/usr/bin/docker stop inverter_hid
ExecStopPost=/usr/bin/docker rm inverter_hid
Restart=on-failure
User=serj

[Install]
WantedBy=multi-user.target